In [ ]:
#Step 1 :  import all the required libraries required :
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
from sklearn import metrics

In [ ]:
#Step 2 : Read the dataset : df = pd.read_csv("base_data2.csv")
df = pd.read_csv("base_data2.csv")

In [ ]:
df.drop(['CLASS','DT','YEAR','HML_SI_CAT'],axis=1,inplace=True)
df.head(3)

   HML_SI  HML_SI_BIN  CORR_PRODUCTION  ...  COK_AMS  SIN_CAO_SIO2  SIN_MGO
0   0.758           0          6392.38  ...   37.497         2.437    1.710
1   0.823           0          6398.66  ...   37.560         2.368    1.792
2   0.806           0          6438.70  ...   37.424         2.342    1.710

[3 rows x 38 columns]

In [ ]:
#Step 3 :  Define X and y
X = df[['COLD_BLAST_HUMID','HML_S','HM_TEMP','HML_CAO_SIO2','SLAG_RATE','SIN_CAO_SIO2','CORR_COKE_RATE','HML_MGO']]
y = df.HML_SI

In [ ]:
#Step 4 :  Use train test split from sklearn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20604,random_state=1)

In [ ]:
X_train

     COLD_BLAST_HUMID  HML_S   HM_TEMP  ...  SIN_CAO_SIO2  CORR_COKE_RATE  HML_MGO
11             18.768  0.044  1512.500  ...         2.295         351.930    9.136
147            17.356  0.044  1520.000  ...         2.584         320.838    9.837
119            15.798  0.033  1517.625  ...         2.616         317.204    9.807
142            15.098  0.034  1512.333  ...         2.630         309.600    9.383
382            15.484  0.040  1501.333  ...         2.849         334.581    9.727
..                ...    ...       ...  ...           ...             ...      ...
129            17.912  0.041  1505.375  ...         2.642         308.044    9.607
144            19.876  0.033  1517.333  ...         2.603         314.855    8.642
72             18.464  0.031  1516.833  ...         2.660         336.413   10.055
235            17.820  0.040  1502.000  ...         2.793         325.426    9.197
37             17.229  0.039  1508.429  ...         2.526         339.449    9.535

[419 rows x 8 columns]

In [ ]:
#Step 5 : lets train our model and fit the dataset.
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Step 6: Now find the y_predict
y_pred = reg.predict(X_test)

In [ ]:
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

0.04708930012941811

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.03864175613780758
Mean Squared Error: 0.002217402186678416
Root Mean Squared Error: 0.04708930012941811

In [ ]:
#Step 7 : Now check the accuracy of the model 
print(reg.score(X_test, y_test))

0.5578774493634775

In [ ]:
X.columns

Index(['COLD_BLAST_HUMID', 'HML_S', 'HM_TEMP', 'HML_CAO_SIO2', 'SLAG_RATE',
       'SIN_CAO_SIO2', 'CORR_COKE_RATE', 'HML_MGO'],
      dtype='object')

In [ ]:
l = list(X.columns)

In [ ]:
l.append('HML_SI')

In [ ]:
df_ = df[l]

In [ ]:
df_.corr()['HML_SI']

COLD_BLAST_HUMID    0.307373
HML_S              -0.145571
HM_TEMP             0.385155
HML_CAO_SIO2       -0.147114
SLAG_RATE          -0.185580
SIN_CAO_SIO2       -0.197931
CORR_COKE_RATE      0.291107
HML_MGO            -0.075009
HML_SI              1.000000
Name: HML_SI, dtype: float64